<section>
    <div class="conteiner amenities">
  <h2 class="amenities__sectionname">зручності у номері</h2>

  <p class="amenities__text">
  
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="amenities__list">
    <li class="amenities__item">
      <h3 class="amenities__name">загальні</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__name">ванна кімната</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__name">спальня</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__name">кухня</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="amenities__item">
      <h3 class="amenities__name">медіа</h3>
      <p class="amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>

  <button class="amenities__button">оформити бронювання</button>

  <a class="amenities__link" href="../../hotel-page.html">
    <svg
                class="amenities__icon"
                width="32"
                height="32"
                viewBox="0 0 16 12"
                fill="none"
              >
                <use href="../../images/icons/icons.svg#icon-arrow-right_32_32"></use></svg>
                Повернутися до перегляду номерів</a>
    </div>
</section>
