<section class="hero-room">
  <div class="container hero-room__container">
    <h1 class="hero-room__title">
      <span class="text-upper">ДВОМІСНИЙ НОМЕР</span> Люкс
    </h1>

    <div class="hero-room__wrap">
      <p class="hero-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <div class="hero-room__content-box">
        <div class="address__wrap hero-room__address" data-modal="zoom-in">
          <a
            class="address__link link"
            href="https://goo.gl/maps/xSBZmbjYANcDaMKi7"
            target="_blank"
            rel="nofollow noopener noreferrer"
            ><svg class="address__icon">
              <use href="./images/icons/icons.svg#icon-location_24_24"></use>
            </svg>
            <span class="address__text address__text--secondary">
              Україна, м. Полтава,
              <br />вул. Маршала Бірюзова, 15
            </span></a
          >
        </div>

        <ul class="network__list network__list__hero-room">
          <li class="network__item">
            <a
              class="network__link link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-insta_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="network__item">
            <a
              class="network__link link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-facebook_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="network__item">
            <a
              class="network__link link"
              href="https://web.telegram.org/z/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-telegram_24_24"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          data-modal="price"
          data-modal="zoom-in"
          type="button"
          class="details-restaurant__booking js-open-modal hero-room__btn"
        >
          Переглянути ціни
        </button>
      </div>
    </div>

    <!--Container slider hero room-->

    <div class="hero-slider swiper container">
      <div class="hero-slider__wrapper swiper-wrapper">
        <div class="hero-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/room-page/room-desk/desk-room-hero1-1x.jpg 1x,
                ./images/room-page/room-desk/desk-room-hero1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/room-page/room-tab/tab-room-hero1-1x.jpg 1x,
                ./images/room-page/room-tab/tab-room-hero1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/room-page/room-mob/mob-room-hero1-1x.jpg 1x,
                ./images/room-page/room-mob/mob-room-hero1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/room-page/room-mob/mob-room-hero1-1x.jpg"
              alt="Двомісний номер люкс, картинка 1"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
        <div class="hero-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/room-page/room-desk/desk-room-hero2-1x.jpg 1x,
                ./images/room-page/room-desk/desk-room-hero2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/room-page/room-tab/tab-room-hero2-1x.jpg 1x,
                ./images/room-page/room-tab/tab-room-hero2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/room-page/room-mob/mob-room-hero2-1x.jpg 1x,
                ./images/room-page/room-mob/mob-room-hero2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/room-page/room-mob/mob-room-hero2-1x.jpg"
              alt="Двомісний номер люкс, картинка 2"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
        <div class="hero-slider__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/room-page/room-desk/desk-room-hero3-1x.jpg 1x,
                ./images/room-page/room-desk/desk-room-hero3-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/room-page/room-tab/tab-room-hero3-1x.jpg 1x,
                ./images/room-page/room-tab/tab-room-hero3-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/room-page/room-mob/mob-room-hero3-1x.jpg 1x,
                ./images/room-page/room-mob/mob-room-hero3-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/room-page/room-mob/mob-room-hero3-1x.jpg"
              alt="Двомісний номер люкс, картинка 3"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-nav hero-slider__nav">
      <div
        id="hero-slider-prev"
        class="swiper-button-prev hero-slider__btn-prev z-10"
      >
        <svg class="hero-slider__icon" width="40" height="40">
          <use href="./images/icons/icons.svg#icon-arrow-left_40_40"></use>
        </svg>
      </div>
      <div
        id="hero-slider-next"
        class="swiper-button-next hero-slider__btn-next z-10"
      >
        <svg class="hero-slider__icon" width="40" height="40">
          <use href="./images/icons/icons.svg#icon-arrow-right_40_40"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
