<section class="hero-room">
  <div class="container">
    <h1 class="hero-room__title">
      <span class="text-upper">ДВОМІСНИЙ НОМЕР</span> Люкс
    </h1>

    <div class="hero-room__wrap">
      <p class="hero-room__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      

      <div class="hero-room__content-box">
        <div class="address__wrap hero-room__address">
        <a
          class="address__link link"
          href="https://goo.gl/maps/xSBZmbjYANcDaMKi7"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><svg class="address__icon">
            <use href="./images/icons/icons.svg#icon-location_24_24"></use>
          </svg>
          <span class="address__text address__text--secondary">
            Україна, м. Полтава,
            <br />вул. Маршала Бірюзова, 15
          </span></a
        >
      </div>
        <ul class="network__list network__list__hero-room">
          <li class="network__item">
            <a
              class="network__link link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-insta_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="network__item">
            <a
              class="network__link link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-facebook_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="network__item">
            <a
              class="network__link link"
              href="https://web.telegram.org/z/"
              target="_blank"
              rel="nofollow noreferrer
            noopener"
            >
              <svg class="network__icon">
                <use href="./images/icons/icons.svg#icon-telegram_24_24"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          data-modal="price"
          type="button"
          class="details-restaurant__booking js-open-modal hero-room__btn"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
