body {
  font-family: $montserrat-font;
  font-size: 16px;
  letter-spacing: 0.02em;

  color: $color-primary-text-menu;
  background-color: #212121;
}

a {
  text-decoration: none;
}
button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 1024px;

    padding: 0 47px;
  }

  @include desktop {
    max-width: 1280px;

    padding: 0 85px;
  }
}
.link {
  text-decoration: none;
}
