body {
  font-family: $montserrat-font;
  font-size: 16px;
  letter-spacing: 0.02em;

  color: $color-primary-text-menu;
  background-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 1024px;

    padding: 0 47px;
  }

  @include desktop {
    max-width: 1280px;

    padding: 0 85px;
  }
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}