@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff), url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.ttf), url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.woff), url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff), url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.ttf), url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.woff), url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 85px;
  }
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 85px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  padding: 40px 0px;
  background-color: #0E0C07;
}
.footer.social-list {
  display: flex;
  margin: 0;
  justify-content: center;
}

.logo-link {
  font-family: "FilmP3", "sans-serif";
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #f3c653;
}
@media screen and (min-weight: 1024px) {
  .logo-link {
    font-size: 64px;
    line-height: 1.078125;
  }
}

.footer-nav {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.social-link {
  margin-bottom: 32px;
  gap: 20px;
  fill: #f3c653;
  background-color: transparent;
}

.social-title {
  display: none;
}
@media screen and (min-weight: 1024px) {
  .social-title {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #f3c653;
  }
}

.amenities__name {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;
}

.footer {
  padding: 40px 0px;
  background-color: #0E0C07;
}
.footer.social-list {
  display: flex;
  margin: 0;
  justify-content: center;
}

.logo-link {
  font-family: "FilmP3", "sans-serif";
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #f3c653;
}
@media screen and (min-weight: 1024px) {
  .logo-link {
    font-size: 64px;
    line-height: 1.078125;
  }
}

.footer-nav {
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.social-link {
  margin-bottom: 32px;
  gap: 20px;
  fill: #f3c653;
  background-color: transparent;
}

.social-title {
  display: none;
}
@media screen and (min-weight: 1024px) {
  .social-title {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #f3c653;
  }
}/*# sourceMappingURL=index.css.map */