.hotel-room {

    &__darker-bg {
        background-color: $color-bg-dark-lemon;
    }

    &__wrap--side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;

        @include max-mobile {
            align-items: center;
        }
    }

    &__container--side {
        gap: 45px;
    }

    &__text-content--side {

        @include tablet {
            width: 400px;
        }
    }

    &__picture--side {
        justify-content: flex-start;
        @include max-mobile {
            justify-content: center;
        }

        @include tablet {
            left: 112;
        }

        @include desktop {
            left: 180;
        }
    }

    // заглушка слайдер
    &__slider--side {
        display: flex;
        justify-content: flex-end;

        @include tablet {
            order: 1;
        }
    }
}