.hotel-room {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 1050px;


    @include tablet {
        padding-top: 62px;
        padding-bottom: 104px;
        height: 838px;
    }

    @include desktop {
        padding-top: 72px;
        padding-bottom: 112px;
        height: 956px;
    }

    &__container {
        @include tablet {
            display: flex;
            gap: 26px;
            margin-bottom: 176px;
        }

        @include desktop {
            gap: 48px;
            margin-bottom: 188px;
        }
    }

    &__subtitle {
        font-family: $times-font;
        @include font(20px, 1.15, null, null);
        color: $color-primary-subtitle-homepage;
        margin-bottom: 8px;

        @include tablet {
            @include font(32px, 1.16, null, null);
            margin-bottom: 4px;
        }
    }

    &__title {
        font-family: $times-font;
        @include font(24px, 1.16, null, 0.05em);
        text-transform: uppercase;
        color: $color-black;
        margin-bottom: 12px;

        @include tablet {
            @include font(30px, 1.13, null, 0.05em);
            margin-bottom: 16px;
        }

        @include desktop {
            @include font(36px, 1.15, null, 0.05em);
            margin-bottom: 24px;
        }

        span {
            text-transform: lowercase;
        }
    }

    &__descript {
        @include font(12px, 1.25, 600, null);
        width: 258px;
        margin-bottom: 32px;

        @include tablet {
            @include font(16px, 1.21, null, null);
            width: 439px;
            margin-bottom: 0;
        }

        @include desktop {
            width: 400px;
        }
    }

    &__picture {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 32px;

        @include tablet {
            position: absolute;
            top: -32px;
            right: 112px;
            margin-bottom: 0;
        }

        @include desktop {
            right: 180px;
        }
    }

    &__picture-img {
        box-shadow: $box-shadow-secondary;
        border-radius: 2px;
    }

    &__logo--brown {
        color: $color-primary-title-hotel-page;
        margin-bottom: 32px;

        @include tablet {
            @include font(64px, 1.1, null, null);
            margin-bottom: 62px;
        }

        @include desktop {
            margin-bottom: 72px;
        }
    }

    &__wrapper {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}

.btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include tablet {
        margin-bottom: 105px;
    }
    
    @include desktop {
        margin-bottom: 142px;
    }

    &__btn {
        width: 236px;
        height: 48px;
        @include font(null, 1.25, 700, null);
        color: $color-accent;
        background-color: $color-black;
        outline: transparent;
        border: 2px solid $color-white;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color $main-transition-duration, border-color $main-transition-duration;

        &:hover,
        &:focus {
            background-color: $color-white;
            border-color: $color-accent;
        }
    }

    &__link {
        display: inline-block;
        @include font(null, 1.25, 700, null);
        text-decoration: none;
        color: $color-accent;
        padding: 14px 65px;
    }
}