.hotel-room {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $color-bg-lemon;
}



// .hotel-rooms {

//     }




// .room-list {

//     &__subtitle {
//         font-family: $times-font;
//         @include font(20px, 1.15, null, null);
//         color: $color-primary-subtitle-homepage;
//         margin-bottom: 8px;
//     }

//     &__title {
//         font-family: $times-font;
//         @include font(24px, 1.16, null, 0.05em);
//         text-transform: uppercase;
//         color: $color-black;
//         margin-bottom: 12px;

//         span {
//             text-transform: lowercase;
//         }
//     }
// }