// fonts
$times-font: 'TimesNewRoman', 'serif';
$montserrat-font: 'Montserrat', 'sans-serif';
$film-font: 'FilmP3', 'sans-serif';

// breakpoints
$phone: 414px;
$tablet: 1024px;
$desktop: 1280px;

$max-phone: 413px;
$max-tablet: 1023px;
$max-desktop: 1279px;

// transition
$main-transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-accent: #f3c653;
$color-brown: #c79002;

$color-bg-lemon: #fffdee;
$color-bg-dark-lemon: #f0ecd6;
$color-bg-footer: #0e0c07;

// homepage colors
$color-primary-title-homepage: #828282;
$color-primary-subtitle-homepage: #b4b4b4;

$color-primary-text-homepage: #5f5f5f;
$color-secondary-text-homepage: #bababa;

$color-primary-address-homepage: #e5e5e5;
$color-secondary-address-homepage: #828282;

// hotel-page
$color-primary-title-hotel-page: #494848;
$color-primary-text-menu: #7a7a7a;

// modal
$color-primary-text-modal: #808080;
$color-button-close:rgba(0, 0, 0, 1);

// box-shadow
$box-shadow-primary: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
$box-shadow-secondary: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
