.about-hotel {
  &__container {
    padding-top: 16px;
    padding-bottom: 20px;
    position: relative;
    height: 1191px;

    @include tablet {
      padding-top: 129px;
      padding-bottom: 72px;
      height: 1238px;
    }

    @include desktop {
      padding-top: 120px;
      padding-bottom: 0px;
      height: 1275px;
    }
  }

  &__subtitle {
    text-align: end;

    margin-bottom: 12px;

    @include tablet {
      margin-bottom: 4px;
    }
  }

  &__name {
    text-align: end;

    margin-bottom: 12px;

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__description {
    max-width: 258px;

    margin-left: auto;
    margin-bottom: 28px;

    @include tablet {
      max-width: 439px;

      margin-bottom: 142px;
    }

    @include desktop {
      max-width: 488px;

      margin-bottom: 162px;
    }
  }

  &__img {
    margin-bottom: 32px;

    box-shadow: $box-shadow-secondary;

    @include tablet {
      position: absolute;
      top: -15px;
      margin-left: 65px;
      box-shadow: $box-shadow-primary;
    }

    @include desktop {
      position: absolute;
      top: -15px;
      margin-left: 95px;
      box-shadow: $box-shadow-primary;
    }
  }

  &__picture {
    box-shadow: $box-shadow-secondary;

    @include tablet {
      box-shadow: $box-shadow-primary;
    }
  }

  &__text {
    max-width: 163px;

    @include tablet {
      max-width: 312px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet {
      justify-content: end;
      gap: 48px;
      margin-bottom: 0;
      margin-top: 0;
    }

    @include desktop {
      gap: 32px;
    }
  }
}

.hotel-slider {
  margin-top: 32px;
  margin-bottom: 0;
  width: 330px;

  @include tablet {
    position: absolute;
    margin-top: 0;
    bottom: 32px;
    width: 428px;
  }

  @include desktop {
    width: 530px;
    bottom: 50px;
    left: 85px;
  }

  & .slider-mini-nav {
    justify-content: flex-end;
    margin-right: 15px;

    @include tablet {
      margin-right: 0;
    }

    @include desktop {
      margin-top: 40px;
    }
  }
}