.about-hotel {
  @include max-mobile {
    text-align: center;
  }
  &__container {
    padding-top: 16px;
    padding-bottom: 20px;
    position: relative;

    @include mobile {
      height: 1191px;
    }

    @include tablet {
      padding-top: 129px;
      padding-bottom: 72px;
      height: 1238px;
    }

    @include desktop {
      padding-top: 120px;
      padding-bottom: 0px;
      height: 1275px;
    }
  }

  &__subtitle {
    margin-bottom: 12px;

    @include mobile {
      text-align: end;
    }

    @include tablet {
      margin-bottom: 4px;
    }
  }

  &__name {
    margin-bottom: 12px;

    @include mobile {
      text-align: end;
    }

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__description {
    margin-bottom: 28px;

    @include mobile {
      max-width: 258px;

      margin-left: auto;
    }

    @include tablet {
      max-width: 439px;

      margin-bottom: 142px;
    }

    @include desktop {
      max-width: 488px;

      margin-bottom: 162px;
    }
  }

  &__img {
    margin-bottom: 32px;

    box-shadow: $box-shadow-secondary;

    @include tablet {
      position: absolute;
      top: -15px;
      margin-left: 65px;
      box-shadow: $box-shadow-primary;
    }

    @include desktop {
      position: absolute;
      top: -15px;
      margin-left: 95px;
      box-shadow: $box-shadow-primary;
    }
  }

  &__picture {
    box-shadow: $box-shadow-secondary;

    @include tablet {
      box-shadow: $box-shadow-primary;
    }
  }

  &__text {
    

    @include mobile {
      max-width: 163px;
    }

    @include tablet {
      max-width: 312px;
    }
  }

  &__box {
    display: flex;
    align-items: center;

    @include max-mobile {
      flex-direction: column;
      gap: 32px;
    }

    @include mobile {
      gap: 20px;
    }

    @include tablet {
      justify-content: end;
      gap: 48px;
      margin-bottom: 0;
      margin-top: 0;
    }

    @include desktop {
      gap: 32px;
    }
  }
}

.hotel-slider {
  margin-top: 32px;
  margin-bottom: 0;

  @include max-mobile {
      max-width: 330px;
    }
    
    @include mobile {
      width: 330px;
      // left: -15px;
    }

  @include tablet {
    position: absolute;
    margin-top: 0;
    bottom: 32px;
    width: 428px;
  }

  @include desktop {
    width: 530px;
    bottom: 50px;
    left: 85px;
  }

  & .slider-mini-nav {
    justify-content: flex-end;
    margin-right: 15px;

    @include tablet {
      margin-right: 0;
    }

    @include desktop {
      margin-top: 40px;
    }
  }
}
