.about-restaurant {
    @include max-mobile{
      text-align: center;
    }
  
    &__container {
      padding-top: 16px;
      padding-bottom: 20px;
      position: relative;


      @include mobile {
      height: 1191px;
    }
  
      @include tablet {
        padding-top: 129px;
        padding-bottom: 72px;
        height: 1238px;
      }
  
      @include desktop {
        padding-top: 120px;
        padding-bottom: 50px;
        height: 1275px;
      }
    }
  
    &__subtitle {
      margin-bottom: 12px;
  
      @include tablet {
        margin-bottom: 4px;
      }
    }
  
    &__name {
      margin-bottom: 12px;
  
      @include tablet {
        margin-bottom: 24px;
      }
    }
  
    &__description {
      

      margin-bottom: 28px;
      @include mobile {
        max-width: 258px;
      }
      @include tablet {
        max-width: 439px;

        margin-bottom: 142px;
      }
  
      @include desktop {
        margin-bottom: 162px;

        max-width: 518px;
      }
    }
  
    &__img {
      margin-left: auto;
      margin-bottom: 32px;

      box-shadow: $box-shadow-secondary;
  
      @include tablet {
        position: absolute;
        top: -33px;
        right: 112px;
        box-shadow: $box-shadow-primary;
      }
  
      @include desktop {
        right: 180px;
      }
    }
  
    &__picture {
      box-shadow: $box-shadow-secondary;
  
      @include tablet {
        box-shadow: $box-shadow-primary;
      }
    }
  
    &__text {
      

      @include mobile {
        max-width: 163px;
      }
  
      @include tablet {
        max-width: 312px;
      }
    }
  
    &__box {
      display: flex;
      align-items: center;
      
      @include max-mobile {
        flex-direction: column-reverse;
         gap: 32px;
      }
      
      @include mobile {
        gap: 20px;   
      }
  
      @include tablet {
        margin-top: 0;
        gap: 48px;
        margin-bottom: 0;
      }
  
      @include desktop {
        gap: 32px;
      }
    }
  }

  .restaurant-slider {
    margin-top: 32px;
    margin-bottom: 0;

    @include max-mobile {
      max-width: 330px;
    }
    
    @include mobile {
      width: 330px;
      // right: -15px;
    }
    @include tablet {
      position: absolute;
      bottom: 32px;
      right: 60px;
      width: 428px;
    }

    @include desktop {
      width: 548px;
      bottom: 50px;
      right: 85px;
    }

    & .slider-mini-nav {
      justify-content: flex-end;
      margin-right: 15px;

      @include tablet {
        margin-right: 0;
      }

      @include desktop {
        margin-top: 36px;
      }
    }
  }