.about-restaurant {
    background: $color-bg-lemon;
  
    &__container {
      padding-top: 16px;
      padding-bottom: 20px;
      position: relative;
      height: 1191px;
  
      @include tablet {
        padding-top: 129px;
        padding-bottom: 72px;
        height: 1238px;
      }
  
      @include desktop {
        padding-top: 120px;
        padding-bottom: 50px;
        height: 1275px;
      }
    }
  
    &__subtitle {
      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: $color-primary-subtitle-homepage;
      margin-bottom: 12px;
  
      @include tablet {
        font-size: 32px;
        line-height: 1.6;
        margin-bottom: 4px;
      }
    }
  
    &__name {
      color: $color-primary-title-hotel-page;
      text-transform: uppercase;
      font-family: $film-font;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.075;
      letter-spacing: 0.3em;

      margin-bottom: 12px;
  
      @include tablet {
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 24px;
      }
  
      @include desktop {
        color: $color-primary-title-homepage;
      }
    }
  
    &__description {
      max-width: 258px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $color-primary-text-homepage;
      margin-bottom: 28px;
  
      @include tablet {
        max-width: 439px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 142px;
      }
  
      @include desktop {
        margin-bottom: 162px;
        max-width: 518px;
      }
    }
  
    &__img {
      margin-left: auto;
      margin-bottom: 32px;

      box-shadow: $box-shadow-secondary;
  
      @include tablet {
        position: absolute;
        top: -33px;
        right: 112px;
        box-shadow: $box-shadow-primary;
      }
  
      @include desktop {
        right: 180px;
      }
    }
  
    &__picture {
      box-shadow: $box-shadow-secondary;
  
      @include tablet {
        box-shadow: $box-shadow-primary;
      }
    }
  
    &__text {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $color-brown;
      max-width: 163px;
  
      @include tablet {
        max-width: 312px;
        font-size: 16px;
        line-height: 1.25;
      }
    }
  
    &__box {
      display: flex;
      align-items: center;
      gap: 20px;
  
      @include tablet {
        margin-top: 0;
        gap: 48px;
        margin-bottom: 0;
      }
  
      @include desktop {
        gap: 32px;
      }
    }
  }
