// Section

.overlay {
  margin: 0 auto;

  max-width: 414px;
  height: 735px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/homepage/homepage-mob/mob-main-restaurant-details-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-mob/mob-main-restaurant-details-2x.jpg);
  }

  @include tablet {
    max-width: 1024px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-tab/tab-main-restaurant-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-tab/tab-main-restaurant-details-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1280px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-desk/desk-main-restaurant-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-desk/desk-main-restaurant-details-2x.jpg);
    }
  }
}

.overlay-hotel {
  margin: 0 auto;

  max-width: 414px;
  height: 735px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/homepage/homepage-mob/mob-main-hotel-details-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-mob/mob-main-hotel-details-2x.jpg);
  }

  @include tablet {
    max-width: 1024px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-tab/tab-main-hotel-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-tab/tab-main-hotel-details-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1280px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-desk/desk-main-hotel-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-desk/desk-main-hotel-details-2x.jpg);
    }
  }
}

// Logo

.details-restaurant__header {
  margin-bottom: 12px;

  font-family: $film-font;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;

  color: $color-white;

  @include tablet {
    font-size: 64px;
    line-height: 1.08;
  }
}

// Text

.details-restaurant,
.details-restaurant-hotel {
  padding-top: 24px;
  padding-bottom: 54px;

  @include tablet {
    padding-top: 48px;
    padding-bottom: 47px;
  }
}

.details-restaurant__text,
.details-restaurant__text--hotel {
  margin-bottom: 48px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.details-restaurant__subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: $color-white;

  @include tablet {
    font-size: 24px;
    line-height: 1.2;
  }
}

.details-restaurant__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @include tablet {
    width: 610px;

    font-size: 16px;
    line-height: 1.25;
  }
}

// Buttons

.details-restaurant__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  row-gap: 16px;
  padding-bottom: 40px;

  @include tablet {
    align-items: flex-start;

    padding-left: 47px;
    padding-bottom: 96px;
  }
  @include desktop {
    padding-left: 85px;
    padding-bottom: 94px;
  }
}

.details-restaurant__buttons--hotel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // margin: 0 auto;
  row-gap: 16px;
  padding-bottom: 40px;

  @include tablet {
    padding-left: 741px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-left: 958px;
    padding-bottom: 95px;
  }
}

.details-restaurant__href {
  color: $color-accent;
}

.details-restaurant__booking,
.details-restaurant__demonstration {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 236px;
  height: 48px;

  font-weight: 700;
  line-height: 1.25;

  background: rgba(0, 0, 0, 0.4);
  border: 2px solid $color-white;
  border-radius: 25px;

  color: $color-accent;
  transition: background-color $main-transition-duration;

  &:hover,
  &:focus {
    cursor: pointer;

    color: $color-accent;
    background-color: $color-white;
    border: 2px solid $color-accent;
  }
}

.multiple-items {
  margin-left: 240px;
}
