// Section
.details-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/homepage/homepage-mob/mob-main-restaurant-details-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-mob/mob-main-restaurant-details-2x.jpg);
  }

  @include tablet {
    max-width: 1024px;
    height: 620px;
    padding-top: 48px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-tab/tab-main-restaurant-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-tab/tab-main-restaurant-details-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1280px;
    // height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-desk/desk-main-restaurant-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-desk/desk-main-restaurant-details-2x.jpg);
    }
  }
}

.details-restaurant-hotel{
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/homepage/homepage-mob/mob-main-hotel-details-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-mob/mob-main-hotel-details-2x.jpg);
  }

  @include tablet {
    max-width: 1024px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-tab/tab-main-hotel-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-tab/tab-main-hotel-details-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1280px;
    height: 620px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/homepage/homepage-desk/desk-main-hotel-details-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/homepage/homepage-desk/desk-main-hotel-details-2x.jpg);
    }
  }
}

// Logo

.details-restaurant__header {
  margin-bottom: 12px;
  width: 127px;
  font-family: $film-font;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;

  color: $color-white;

  @include tablet {
    font-size: 64px;
    line-height: 1.08;
    width: 202px;
  }
}

// Text

.details-restaurant__text {
  margin-left: 125px;
  margin-bottom: 48px;

  @include tablet {
    margin-bottom: 40px;
    margin-left: 231px;
  }
}

.details-restaurant__text--hotel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 124px;
  margin-bottom: 48px;

  @include tablet {
    margin-right: 231px;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-right: 253px;
  }
}

.details-restaurant__subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: $color-white;

  @include tablet {
    font-size: 24px;
    line-height: 1.2;
  }
}

.details-restaurant__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $color-secondary-text-homepage;
  width: 244px;
  @include tablet {
    width: 610px;

    font-size: 16px;
    line-height: 1.25;
  }
}

// Flex-обгортка для позиціонування слайдеру dishes-slider та Buttons
.flex-wrap-restaurant {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 29px;
    align-items: flex-end;
  } 
}

// Flex-обгортка для позиціонування слайдеру dishes-slider та Buttons
.flex-wrap-rooms {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 32px;
    align-items: flex-end;
  } 
}
// Buttons


.description-hotel {
  @include tablet {
    width: 549px;
  }
  @include tablet {
    width: 595px;
  }
}

// Buttons

.details-restaurant__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  row-gap: 16px;

  @include tablet {
    margin-bottom: 56px;
    align-self: flex-end;
  }
}

.details-restaurant__buttons--hotel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // margin: 0 auto;
  row-gap: 16px;

  @include tablet {
    margin-bottom: 56px;
    align-self: flex-end;
  }
}

.details-restaurant__href {
  color: $color-accent;
}

.details-restaurant__booking,
.details-restaurant__demonstration {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 236px;
  height: 48px;

  font-weight: 700;
  line-height: 1.25;

  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid $color-white;
  border-radius: 25px;
  color: $color-accent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    cursor: pointer;

    color: $color-accent;
    background-color: $color-white;
    border-color: $color-accent;

  }
}

.multiple-items {
  margin-left: 240px;
}
