.hero {
  color: #ffffff;

  &__container {
    position: relative;

    padding-top: 64px;
    padding-bottom: 20px;

    @include tablet {
      padding-top: 188px;
      padding-bottom: 15px;
    }

    @include desktop {
      padding-top: 164px;
      padding-bottom: 64px;
    }
  }

  &__address {
    @extend %wrap;
    padding: 8px 3px 8px 3px;
    display: block;
    max-width: 210px;

    @include max-tablet {
      margin-bottom: 70px;
      margin-left: auto;
    }

    @include tablet {
      position: absolute;
      max-width: 285px;
      left: 47px;
      bottom: 69px;
      margin-bottom: 0;
      padding-right: 12px;
      padding-left: 10px;
    }

    @include desktop {
      left: 85px;
      bottom: 88px;
    }

    &-link {
      color: $color-primary-address-homepage;
      fill: $color-accent;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: color $main-transition-duration,
        fill $main-transition-duration;

      &:hover,
      &:focus {
        color: $color-primary-subtitle-homepage;
        fill: rgba(199, 144, 2, 0.7);
        border-color: rgba(199, 144, 2, 0.7);
      }
    }

    &-text {
      @include font(12px, 1.25, null, 0.01em);

      @include tablet {
        @include font(16px, calc(20 / 16), null, 0.01em);
      }
    }
  }

  &__wrap {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    margin-left: 25px;

    font-family: $film-font;
    @include font(68px, 1.07, null, 0.3em);

    text-transform: uppercase;

    @include mobile {
      @include font(96px, calc(103 / 96), null, null);
      margin-left: 30px;
    }

    @include tablet {
      @include font(128px, calc(138 / 128), null, null);
      margin-bottom: 16px;
      margin-left: 42px;
    }

    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    @include font(16px, 1.25, 600, null);
    color: $color-white;
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 40px;
    }

    @include tablet {
      @include font(20px, 1.2, null, null);
      margin-bottom: 56px;
    }

    @include desktop {
      margin-bottom: 64px;
    }
  }

  &__slogan {
    font-family: $times-font;
    @include font(28px, 1.15, 700, 0.05em);
    color: $color-white;
    margin-bottom: 70px;

    @include mobile {
      margin-bottom: 113px;
    }

    @include tablet {
      @include font(36px, 1.1, null, null);
      margin-bottom: 145px;
    }

    @include desktop {
      margin-bottom: 137px;
    }
  }

  &__network {
    @include desktop {
      display: none;
    }

    &-list {
      display: flex;
      gap: 20px;
      list-style-type: none;
    }

    &-link {
      text-decoration: none;
    }

    &-icon {
      fill: rgba(243, 198, 83, 0.7);
      transition: fill $main-transition-duration;

      &:hover,
      &:focus {
        fill: rgba(199, 144, 2, 0.7);
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 70px;

    @include mobile {
      margin-bottom: 102px;
    }

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 32px;
    }

    &-btn {
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color $main-transition-duration,
        border-color $main-transition-duration;

      &:hover,
      &:focus {
        color: #f3c653;
        background: #ffffff;
        border-color: #f3c653;
      }
    }

    &-link {
      color: #f3c653;
    }
  }
}

.wrap-overlay__homepage {
  background-image: $gradient-img-hero,
    url('../images/homepage/homepage-mob/mob-main-hero-1x.jpg');

  @include retina2x {
    background-image: $gradient-img-hero,
      url('../images/homepage/homepage-mob/mob-main-hero-2x.jpg');
  }

  @include mobile {
    background-image: $gradient-img-hero,
      url('../images/homepage/homepage-tab/tab-main-hero-1x.jpg');

    @include retina2x {
      background-image: $gradient-img-hero,
        url('../images/homepage/homepage-tab/tab-main-hero-2x.jpg');
    }

    @include tablet {
      background-image: $gradient-img-hero,
        url('../images/homepage/homepage-desk/desk-main-hero-1x.jpg');

      @include retina2x {
        background-image: $gradient-img-hero,
          url('../images/homepage/homepage-desk/desk-main-hero-2x.jpg');
      }
    }
  }
}
