.hero {
  background-color: $color-bg-footer;
  background-image: $gradient-img-hero,
    url('../images/homepage/homepage-mob/mob-main-hero-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 20px;

  @include retina2x {
    background-image: $gradient-img-hero,
      url('../images/homepage/homepage-mob/mob-main-hero-2x.jpg');
  }

  @include tablet {
    background-image: $gradient-img-hero,
      url('../images/homepage/homepage-tab/tab-main-hero-1x.jpg');
    padding-top: 188px;
    padding-bottom: 15px;

    @include retina2x {
      background-image: $gradient-img-hero,
        url('../images/homepage/homepage-tab/tab-main-hero-2x.jpg');
    }

    @include desktop {
      background-image: $gradient-img-hero,
        url('../images/homepage/homepage-desk/desk-main-hero-1x.jpg');
      padding-top: 164px;
      padding-bottom: 64px;


      @include retina2x {
        background-image: $gradient-img-hero,
          url('../images/homepage/homepage-desk/desk-main-hero-2x.jpg');
      }
    }
  }

  &__container {
    position: relative;
  }

  &__address {
    width: 210px;
    height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 3px 10px 4px;
    margin-bottom: 70px;
    margin-left: auto;

    @include tablet {
      position: absolute;
      left: 63;
      bottom: 58;
      border: none;
      margin-bottom: 0;
    }

    @include desktop {
      left: 85;
      bottom: 0;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      fill: $color-accent;
    }

    &-text {
      @include font(12px, 1.25, null, 0.01em);
      color: $color-primary-address-homepage;
    }
  }

  &__wrap {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 16px;
    }

    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    @include font(16px, 1.25, 600, null);
    color: $color-white;
    margin-bottom: 40px;

    @include tablet {
      @include font(20px, 1.2, null, null);
      margin-bottom: 56px;
    }

    @include desktop {
      margin-bottom: 64px;
    }
  }

  &__slogan {
    font-family: $times-font;
    @include font(28px, 1.15, 700, 0.05em);
    color: $color-white;
    margin-bottom: 113px;

    @include tablet {
      @include font(36px, 1.1, null, null);
      margin-bottom: 145px;
    }

    @include desktop {
      margin-bottom: 137px;
    }
  }

  &__network {

    @include desktop {
      display: none;
    }

    &-list {
      display: flex;
      gap: 20px;
      list-style-type: none;
    }

    &-link {
      text-decoration: none;
    }

    &-icon {
      display: block;
      width: 24px;
      height: 24px;
      fill: rgba(243, 198, 83, 0.7);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 102px;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 32px;
    }

    &-btn {
      background: rgba(0, 0, 0, 0.4);

      &:hover,
      &:focus {
        color: #f3c653;
        background: #ffffff;
        border: 2px solid #f3c653;
      }
    }

    &-link {
      color: #f3c653;
    }
  }
}