// Modal + Backdrop

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    position: relative;
    overflow: visible;
  }
}

.options {
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  //   transition: opacity 250ms map-get($cubic, cubic)
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 60px 15px;
  top: 50%;
  left: 50%;
  width: 414px;
  height: 668px;

  border-radius: 2px;

  transform: translate(-50%, -50%);
  background-color: #fffdee;

  @media screen and (min-width: 1024px) {
    padding: 60px 60px;
    width: 712px;
    height: 522px;
  }
}

.hotel {
  width: 414px;
  height: 780px;

  @media screen and (min-width: 1024px) {
    width: 712px;
    height: 638px;
  }
}

// Icons

.icon-close {
  width: 24px;
  height: 24px;
}

.icon-arrow-down {
  width: 24px;
  height: 24px;
}

// Inputs

input {
  background-color: transparent;
  width: 384px;
  height: 54px;
  border: 1px solid #c79002;
  padding-left: 12px;
  border-radius: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: 1.16;
    width: 288px;
    height: 64px;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.gap {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1024px) {
    column-gap: 16px;
    row-gap: 28px;
  }
}

.form__label {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #c79002;

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.25;
  }
}

.ordered {
  @media screen and (min-width: 1024px) {
    order: 1;
  }
}

// Text

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
  }
}

// Button

.confirm-button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  width: 384px;
  height: 64px;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: #000000;
    background-color: #f3c653;
  }

  @media screen and (min-width: 1024px) {
    width: 592px;
    height: 64px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal__button {
  position: absolute;
  background-color: transparent;
  border-color: transparent;

  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
}

.arrow-down-button {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  top: 15px;
  right: 15px;
  fill: #c79002;
}

.confirm-container {
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
