// Modal + Backdrop

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @include tablet {
    position: relative;
    overflow: visible;
  }
}

.options {
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $main-transition-duration;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  padding: 60px 15px;
  top: 50%;
  left: 50%;
  width: 414px;
  height: 668px;

  border-radius: 2px;

  transform: translate(-50%, -50%);
  background-color: $color-bg-lemon;

  @include tablet {
    padding: 60px 60px;
    width: 712px;
    height: 522px;
  }
}

.hotel {
  width: 414px;
  height: 780px;

  @include tablet {
    width: 712px;
    height: 638px;
  }
}

// Icons

.icon-close {
  width: 24px;
  height: 24px;
}

.icon-arrow-down {
  width: 24px;
  height: 24px;
}

// Inputs

input,
select {
  padding-left: 12px;

  width: 384px;
  height: 54px;

  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;

  border-radius: 2px;
  border: 1px solid $color-brown;
  background-color: transparent;
  color: $color-primary-text-modal;

  transition: border-color $main-transition-duration;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $color-black;
    border-color: $color-accent;
  }

  @include tablet {
    font-size: 24px;
    line-height: 1.16;

    width: 288px;
    height: 64px;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.gap {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    column-gap: 16px;
    row-gap: 28px;
  }
}

.form__label {
  margin-top: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  color: $color-brown;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    line-height: 1.25;
  }
}

.ordered {
  @include tablet {
    order: 1;
  }
}

// Text

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $color-black;

  @include tablet {
    font-size: 40px;
    line-height: 1.15;
  }
}

// Button

.confirm-button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  width: 384px;
  height: 64px;

  border-radius: 2px;
  color: $color-white;
  background-color: $color-black;
  border: 1px solid $color-accent;

  transition: background-color $main-transition-duration,
    color $main-transition-duration;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $color-black;
    background-color: $color-accent;
  }

  @include tablet {
    width: 592px;
    height: 64px;

    font-size: 24px;
    line-height: 1.2;
  }
}

.modal__button {
  position: absolute;

  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;

  background-color: transparent;
  border-color: transparent;

  transition: fill $main-transition-duration;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $color-accent;
  }
}

.arrow-down-button {
  position: absolute;

  top: 15px;
  right: 15px;

  background-color: transparent;
  border-color: transparent;
  fill: $color-brown;
  transition: fill $main-transition-duration;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $color-accent;
  }
}

.confirm-container {
  margin-top: 20px;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
