<div class="backdrop is-hidde">
    <div class="modal">
        <h2 class="modal-title" >ЗАБРОНЮВАТИ СТОЛИК</h2>
        <form class="modal-form">
<div class="modal-wraper">
<div class="modal-wraper__input">
    <div class="modal-field">
        <label class="modal-label">
            <input class="modal-input" type="text" placeholder="Ваше ім’я">
            <span class="modal-text" >На кого забронювати столик?</span>
        </label>
</div>
<div class="modal-field">
    <label class="modal-label">
        <input  class="modal-input"
        type="tel" 
        placeholder="+38 (___) ___-__-__"
        minlength="13"
        
        title="+38 (___) ___-__-__">
        <span class="modal-text"> Номер телефону</span>
    </label>
</div>
</div>

<div class="modal-wraper__select">
    <div class="modal-field">
        <label class="modal-label"  >
            <div class="select-wraper">
                <select class="modal-select" name="number"  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <svg class="modal-select__icon" width="24" height="24">
                    <use href="/src/images/icons/icons.svg#icon-arrow-down_24_24"></use>
                </svg>
            </div>
            <span class="modal-text">Столик на яку кількість осіб?</span>
        </label>
    </div>  
    <div class="modal-field">
        <label class="modal-label" >
            <div class="select-wraper">
                <select  class="modal-select" name="date"  >
                    <option value="">Сьогодні</option>
                    <option value="">Завтра</option>
                    <option value="">Післязавтра</option>
                </select>
                <svg class="modal-select__icon" width="24" height="24">
                    <use href="/src/images/icons/icons.svg#icon-arrow-down_24_24"></use>
                </svg>
            </div>
            
            <span class="modal-text">На яку дату бронювати?</span>
        </label>
    </div>
</div>

</div>
        <button class="modal-button" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
        </form>
        <button class="modal-button-close" type="button" >
            <svg class="button-close__icon" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-close_x_24_24""></use>
            </svg>
        </button>
    </div>
</div>
