<footer class="footer">
    <div class="container">
        <h3><a class="logo-link" href="./index.html">Міміно</a></h3>

        <ul>
            <li><a href="./index.html" class="footer-nav">Головна</a></li>
            <li><a href="./restaraunt-page.html" class="footer-nav">Ресторан</a></li>
            <li><a href="./restaraunt-page.html" class="footer-nav">Готель</a></li>
        </ul>

        <ul class="social-list">
            <li>
                <a class="social-link" href="https://www.instagram.com/">
                    <svg width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-insta_24_24">
                        </use>
                    </svg>
                    <div class="social-title">Instagram</div>
                </a>
            </li>
            <li>
                <a class="social-link" href="https://uk-ua.facebook.com/">
                    <svg width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-facebook_24_24">
                        </use>
                    </svg>
                    <div class="social-title">Facebook</div>
                </a>
            </li>
            <li>
                <a class="social-link" href="https://web.telegram.org/z/">
                    <svg width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-telegram_24_24">
                        </use>
                    </svg>
                    <div class="social-title">Telegram</div>
                </a>
            </li>
        </ul>
    </div>

</footer>