<footer class="footer">
    <div class="container">
        <h3><a class="logo-link" href="../index.html">Міміно</a></h3>
    </div>
    <ul>
        <li><a href="./index.html" class="footer-nav">Головна</a></li>
        <li><a href="./restaraunt-page.html" class="footer-nav">Ресторан</a></li>
        <li><a href="./hotel-page.html" class="footer-nav">Готель</a></li>
    </ul>

    <ul class="social-list">
        <li>
            <a class="social-link" href="https://www.instagram.com/">
                <use>
                    <svg width="24" height="24" href="./images/icons/icons.svg#icon-insta_24_24"></svg>
                </use>
                <div class="social-title">Instagram</div>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://uk-ua.facebook.com/">
                <use>
                    <svg width="24" height="24" href="../images/icons/icons.svg#icon-facebook_24_24"></svg>
                </use>
                <div class="social-title">Facebook/div>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://web.telegram.org/z/">
                <use>
                    <svg width="24" height="24" href="../images/icons/icons.svg#icon-telegram_24_24"></svg>
                </use>
                <div class="social-title">Telegram</div>
            </a>
        </li>
    </ul>

</footer>