// button desk/tab/mob

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
}

.btn--basic {
    width: 236px;
    height: 48px;
    @include font(null, 1.25, 700, null);
    color: #f3c653;
}