.dishes-slider-container {
    @media screen and (max-width: 1023px) {
        transform: translateX(25px);
    }
}

.dishes-slider {
    position: static;
    width: 374px;
    height: 270px;
    margin-left: 0;
    margin-right: 0;
    
    @include tablet {
        width: 662px;
    }

    @include desktop {
        width: 877px;
    }

    /*автоширина*/
    &__slide {
        min-width: fit-content;
        object-fit: cover;
        flex-shrink: 1;
    }
}

.dishes-slider-nav {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 32px;

    @include tablet {
        right: 62px;
        bottom: 32px;
    }

    @include desktop {
        right: 93px;
        bottom: 50px;
    }
}

.slider-nav__btn-prev,
.slider-nav__btn-next {
    position: static;
    background-color: transparent;
    width: 32px;
    height: 32px;

    &::after {
        display: none;
    }

    &:hover .slider-nav--white,
    &:focus .slider-nav--white {
        fill: $color-accent;
    }
}

.slider-nav--white {
    fill: $color-white;
}