.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: -1;

  /*автоширина*/
  &__slide {
    min-width: fit-content;
    object-fit: cover;
    // flex-shrink: 1;
  }
}

