// Контейнер-обгортка для слайдеру з винесеними стрілками
.hotel-slider-container {
    position: absolute;
    left: 0;
    bottom: 15px;

    @include tablet {
        left: 47px;
        bottom: 32px;
    }

    @include desktop {
        left: 85px;
        bottom: 50px;
    }
}
// Контейнер слайдеру Swiper, за класом якого ініціалізован слайдер
.hotel-slider {
    position: static;
    width: 328px;
    height: 245px;

    @media screen and  (max-width: 413px) {
        width: 320px;
    }
    
    @include tablet {
        width: 428px;
        height: 194px;
    }

    @include desktop {
        width: 555px;
        height: 245px;
    }

    // автоширина слайду
    &__slide {
        min-width: fit-content;
        object-fit: cover;
        flex-shrink: 1;       
    }
}
// Навігація окремого слайдеру, контейнер для стрілок
.slider-nav.about-hotel-nav {
    position: static;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 15px;
    right: 0;

    @include tablet {
        margin-top: 52px;
        margin-right: 0;
        margin-left: 0;
    }

    @include desktop {
        margin-top: 60px;
    }
}