%wrap {
  border: 0.5px solid $color-accent;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
}
%address-text {
  font-style: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.01em;
}