.modal-wraper__select-room {
    @media screen and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-left: auto;
    }
}

.modal-wraper {
    margin-bottom: 40px;

    @media screen and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        
    }
}

.modal-wraper__input , 
.modal-wraper__select { 
    @media screen and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        
    }
}