// Контейнер-обгортка для слайдеру з винесеними стрілками
.rooms-slider-container {
    @media screen and (max-width: 1023px) {
        transform: translateX(-22px);
    }
}
// Контейнер слайдеру Swiper, за класом якого ініціалізован слайдер
.rooms-slider {
    position: static;
    width: 370px;
    height: 270px;

    @media screen and (max-width: 413px) {
        width: 100%;
    }
    
    @include tablet {
        width: 662px;
    }

    @include desktop {
        width: 874px;
    }

    // автоширина слайду
    &__slide {
        min-width: fit-content;
        object-fit: cover;
        flex-shrink: 1;
    }
}
// Навігація окремого слайдеру, контейнер для стрілок
.slider-nav.rooms {
    justify-content: flex-end;
    margin-top: 46px;
    margin-bottom: 32px;
    margin-left: 5px;

    @include tablet {
        right: 62px;
        bottom: 32px;
        margin-bottom: 0;
    }

    @include desktop {
        right: 93px;
        bottom: 50px;
        margin-top: 48px;
    }
}