// Контейнер для стрілок із стилями для всіх слайдерів
.slider-nav {
  display: flex;
  gap: 32px;

  &--black {
    fill: $color-black;
  }

  &--white {
    fill: $color-white;
  }
}

// Стилі стрілок для всіх слайдерів
.slider-nav__btn-prev,
.slider-nav__btn-next {
  position: static;
  background-color: transparent;
  width: 32px;
  height: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    display: none;
  }

  &:hover .slider-nav--black,
  &:focus .slider-nav--black {
    cursor: pointer;
    fill: $color-accent;
  }

  &:hover .slider-nav--white,
  &:focus .slider-nav--white {
    cursor: pointer;
    fill: $color-accent;
  }
}

// Стилі стрілок hero слайдерів
.hero-slider__btn-prev,
.hero-slider__btn-next {
  background-color: rgba(0, 0, 0, 0.65);
  width: 40px;
  height: 40px;

  @include desktop {
    top: 432px;
  }

  &::after,
  &::after {
    display: none;
  }
}

.hero-slider__btn-prev {
  left: 15px;

  @include tablet {
    left: 47px;
  }

  @include desktop {
    left: 85px;
  }
}
.hero-slider__btn-next {
  right: 15px;

  @include tablet {
    right: 47px;
  }

  @include desktop {
    right: 85px;
  }
}

.hero-slider__icon {
  fill: $color-accent;
}
