.modal {
    width: 100%;
    padding: 60px 15px 60px 15px ;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);

    background: $color-bg-lemon;
    border-radius: 2px;

    @media screen and (min-width:414px){
        width: 414px;
    }
    
    @media screen and (min-width:1024px){
        width: 712px;
        padding: 60px;
    }
   
}

.modal-title {
    font-family: $times-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);

    letter-spacing: 0.05em;


    padding-bottom: 40px;
    text-align: center;
    
    color: $color-black;
}

.modal-input {
    font-family: $times-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.05em;

    color: $color-primary-text-modal;

    width: 100%;
    height: 54px;
    margin-bottom: 8px;
    padding: 17px 12px;

    border: 1px solid $color-brown;
    border-radius: 2px;

    outline: none;

       
}

.modal-select {
    width: 100%;
    height: 54px;
    padding: 16px 42px 16px 12px;

    border: 1px solid $color-brown;
    border-radius: 2px;

    outline: none;
    appearance: none;
    cursor: pointer;
    
        font-family: $times-font;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        letter-spacing: 0.05em;

        color: $color-primary-text-modal;
   
}

.select-wraper{
    position: relative;

    margin-bottom: 8px;
    height: 54px;
    
}
.modal-select__icon {
    position: absolute;
    top: 50%;
    right: 17px;
    
    transform: translateY(-50%);

    fill: $color-brown;

    pointer-events: none;
}

.modal-text {
    font-family: $montserrat-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    letter-spacing: 0.02em;

    color: $color-brown;

    cursor: pointer;
}

.modal-wraper {
    margin-bottom: 40px;

    @media screen and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    @media screen and (min-width:1024px){
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        
    }
}

.modal-wraper__input , 
.modal-wraper__select { 
    @media screen and (max-width:1023px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width:1024px){
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        
    }
}

.modal-field {
    @media screen and (min-width:1024px){
        width: 288px;
        
    }
}

.modal-button {
    width: 100%;
    height: 64px;

    background: $color-black;
    color: $color-white;

    border: 1px solid $color-accent;
    border-radius: 2px;

    cursor: pointer;

    transition: $main-transition-duration;

    &:hover , 
    &:focus {
        background: $color-accent;
        color: $color-black;


        border: 1px solid $color-accent;
        border-radius: 2px;
    }
}

.modal-button-close {
    position: absolute;
    top: 16px;
    right: 16px;

    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
    
}

.button-close__icon {
    stroke: $color-button-close;

    transition: $main-transition-duration;

    &:hover , 
    &:focus {
        stroke: $color-accent;
    }
}

.modal-select__option {

    font-family: $times-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.05em;

    color: $color-primary-text-modal; 
}

