.footer {
  height: 100%;
  padding: 40px 0px;
  text-decoration: none;
  background-color: $color-bg-footer;

  &.social-list {
    justify-content: center;
  }
}

*:any-link {
  text-decoration-line: none;
}
.container {
  display: flex;
  align-items: center;

  justify-content: center;
  align-content: center;
}
.footer-logo {
  display: block;
  margin-left: 59px;
  margin-top: 98px;
  margin-bottom: 99px;

  @media screen and (max-weight: $phone) {
    font-size: 28px;
  }
  @media screen and (min-weight: $tablet) {
    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.logo-link {
  font-family: $film-font;
  text-transform: uppercase;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: $color-accent;

  margin-right: 85px;
}
.social-list {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  gap: 20px;
}

.subscribe {
  margin-left: auto;
  width: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav {
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: $color-accent;
}

.social-list {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  gap: 20px;
}

.social-link {
  gap: 20px;

  fill: $color-accent;
  background-color: transparent;
}
.social-title {
  display: none;

  @media screen and (min-weight: $tablet) {
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: $color-accent;
  }
}
