<section class="hotel-room page-decor">
  <div class="container hotel-room__container--position">
    <div class="hotel-room__container">
      <div class="hotel-room__wrap">
        <p class="hotel-room__subtitle subtitle">Amet minim mollit non</p>
        <p class="title title--primary hotel-room__title--primary">mimiho</p>
        <h1 class="hotel-room__title">Двомісний номер</h1>
        <p class="text-content text-content---primary hotel-room__text-content">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="hotel-room__picture">
        <source
          srcset="
            ./images/hotel-page/hotel-desk/desk-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-desk/desk-hotel-room-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-page/hotel-tab/tab-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-tab/tab-hotel-room-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-page/hotel-mob/mob-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-mob/mob-hotel-room-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
        data-aos="fade-left"
          class="hotel-room__picture-img"
          src="./images/hotel-page/hotel-desk/desk-hotel-room-1x.jpg"
          alt="фото кімнати"
        />
      </picture>
    </div>
    <div class="hotel-room__wrapper">
      <!--Container slider doubleroom rtl black arrows-->
      <div dir="rtl" class="swiper slider-mini slider-left doubleroom-slider" data-aos="fade-up">
        <!--Wrapper  slider-->
        <div class="slider-mini__wrapper swiper-wrapper">
          <!--Slides slider-mini-->
          <div class="slider-mini__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hotel-page/hotel-desk/desk-hotel-slider1-1x.jpg 1x,
                  ./images/hotel-page/hotel-desk/desk-hotel-slider1-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hotel-page/hotel-tab/tab-hotel-slider1-1x.jpg 1x,
                  ./images/hotel-page/hotel-tab/tab-hotel-slider1-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/hotel-page/hotel-mob/mob-hotel-slider1-1x.jpg 1x,
                  ./images/hotel-page/hotel-mob/mob-hotel-slider1-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/hotel-page/hotel-mob/mob-hotel-slider1-1x.jpg"
                alt="Двомісний номер люкс, картинка 1"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-mini__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hotel-page/hotel-desk/desk-hotel-slider2-1x.jpg 1x,
                  ./images/hotel-page/hotel-desk/desk-hotel-slider2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hotel-page/hotel-tab/tab-hotel-slider2-1x.jpg 1x,
                  ./images/hotel-page/hotel-tab/tab-hotel-slider2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/hotel-page/hotel-mob/mob-hotel-slider2-1x.jpg 1x,
                  ./images/hotel-page/hotel-mob/mob-hotel-slider2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/hotel-page/hotel-mob/mob-hotel-slider2-1x.jpg"
                alt="Двомісний номер люкс, картинка 2"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-mini__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hotel-page/hotel-desk/desk-hotel-slider3-1x.jpg 1x,
                  ./images/hotel-page/hotel-desk/desk-hotel-slider3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hotel-page/hotel-tab/tab-hotel-slider3-1x.jpg 1x,
                  ./images/hotel-page/hotel-tab/tab-hotel-slider3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/hotel-page/hotel-mob/mob-hotel-slider3-1x.jpg 1x,
                  ./images/hotel-page/hotel-mob/mob-hotel-slider3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/hotel-page/hotel-mob/mob-hotel-slider3-1x.jpg"
                alt="Двомісний номер люкс, картинка 3"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
        </div>

        <!--Swiper buttons slider-mini-->
        <div class="slider-nav slider-mini-nav">
          <div class="swiper-button-prev-mini slider-nav__btn-prev">
            <svg class="slider-nav--black" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-arrow-right_32_32"></use>
            </svg>
          </div>
          <div class="swiper-button-next-mini slider-nav__btn-next">
            <svg class="slider-nav--black" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-arrow-left_32_32"></use>
            </svg>
          </div>
        </div>
      </div>
      <!--End slider-->

      <ul class="btn-list hotel-room__btn">
        <li class="btn-list__item">
          <a class="btn-list__link btn btn--basic" href="./room-page.html" data-aos="zoom-in"
            >Детальніше</a
          >
        </li>
        <li class="btn-list__item">
          <button
            class="btn btn-list__btn btn--basic js-open-modal"
            type="button"
            data-modal="price"
            data-aos="zoom-in"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
