<section class="hotel-room hotel-room__darker-bg">
  <div class="container">
    <div class="hotel-room__container hotel-room__container--side">
      <div class="hotel-room__wrap hotel-room__wrap--side">
        <p class="hotel-room__subtitle">Amet minim mollit non</p>
        <a class="logo hotel-room__logo--brown" href="./index.html">mimiho</a>
        <div class="hotel-room__title-wrap">
          <h1 class="hotel-room__title hotel-room__title--side">
            Трьохмісний номер
          </h1>
          <p class="hotel-room__descript hotel-room__descript--side">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
      <picture class="hotel-room__picture hotel-room__picture--side">
        <source
          srcset="
            ./images/hotel-page/hotel-desk/desk-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-desk/desk-hotel-room-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel-page/hotel-tab/tab-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-tab/tab-hotel-room-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/hotel-page/hotel-mob/mob-hotel-room-1x.jpg 1x,
            ./images/hotel-page/hotel-mob/mob-hotel-room-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="hotel-room__picture-img"
          src="./images/hotel-page/hotel-desk/desk-hotel-room-1x.jpg"
          alt="фото кімнати"
        />
      </picture>
    </div>

    <div class="hotel-room__wrapper">
      <!-- заглушка слайдер -->
      <div class="hotel-room__slider hotel-room__slider--side">
        <div class="hotel-room__slider-img"></div>
      </div>

      <ul class="btn-list hotel-room__btn">
        <li class="btn-list__item">
          <button class="btn-list__btn" type="button">
            <a class="btn-list__link" href="./room-page.html">Детальніше</a>
          </button>
        </li>
        <li class="btn-list__item">
          <button class="btn-list__btn" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </div>
  </div>
</section>
