<section class="hotel-rooms">
  <h1 class="visually-hidden">Забронювати номер</h1>
  <div class="container hotel-rooms__container">
    <ul class="room-list">
      <li class="room-item">
        <div class="room-list__wrap">
          <p class="room-list__subtitle">Amet minim mollit non</p>
          <a href="#">Міміно</a>
          <h2 class="room-list__title"><span>Двомісний номер </span>люкс</h2>
          <p class="room-list__descript">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <picture>
            <source
              srcset="
                ./images/room-page/hotel-room-desk.jpg    1x,
                ./images/room-page/hotel-room-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/room-page/hotel-room-tab.jpg    1x,
                ./images/room-page/hotel-room-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/room-page/hotel-room-mob.jpg    1x,
                ./images/room-page/hotel-room-mob-2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              src="./images/room-page/hotel-room-desk.jpg"
              alt="фото кімнати"
              width="460"
              height="574"
            />
          </picture>
        </div>
        <div class="slider-wrap">
          <div class="room-list__slider">
            <ul class="hotel-rooms__btn">
              <li><a href="">Детальніше</a></li>
              <li><a href="">Переглянути ціни</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
