<section class="about-kitchen page-decor">
  <div class="about-kitchen__container container">
    <p class="about-kitchen__subtitle subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Опис ресторану</h2>
    <p class="about-kitchen__name title title--primary">Mimiho</p>
    <p class="about-kitchen__description text-content text-content---primary">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-desktop1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-desktop1-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-tab1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-tab1-2x.jpg 2x
        "
        media="(min-width:1024px)"
      />
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-mob1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-mob1-2x.jpg 2x
        "
        media="(min-width:414px)"
      />
      <img
        data-aos="fade-left"
        class="about-restaurant__img"
        src="/src/images/restaurant-page/about-kitchen/about-kitchen-desktop1.jpg"
        alt="Кухар"
      />
    </picture>
    <div class="about-kitchen__box">
      <picture>
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-desktop2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-desktop2-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-tab2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-tab2-2x.jpg 2x
          "
          media="(min-width:1024px)"
        />
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-mob2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-mob2-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          data-aos="fade-right"
          class="about-kitchen__picture"
          src="/src/images/restaurant-page/about-kitchen/about-kitchen-desktop2.jpg "
          alt="М'ясо"
        />
      </picture>
      <p class="about-kitchen__text text-content text-conten--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!--Container slider about-kitchen 245x245 ltr black arrows-->
    <div class="swiper slider-mini slider-right kitchen-slider">
      <!--Wrapper  slider-->
      <div class="slider-mini__wrapper swiper-wrapper">
        <!--Slides slider about-kitchen-->
        <div class="slider-mini__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/restaurant-page/restaurant-desk/desk-restaurant-kitchen-slider1-1x.jpg 1x,
                ./images/restaurant-page/restaurant-desk/desk-restaurant-kitchen-slider1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/restaurant-page/restaurant-tab/tab-restaurant-kitchen-slider1-1x.jpg 1x,
                ./images/restaurant-page/restaurant-tab/tab-restaurant-kitchen-slider1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider1-1x.jpg 1x,
                ./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider1-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider1-1x.jpg"
              alt="Кухня ресторану, картинка 1"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
        <div class="slider-mini__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/restaurant-page/restaurant-desk/desk-restaurant-kitchen-slider2-1x.jpg 1x,
                ./images/restaurant-page/restaurant-desk/desk-restaurant-kitchen-slider2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/restaurant-page/restaurant-tab/tab-restaurant-kitchen-slider2-1x.jpg 1x,
                ./images/restaurant-page/restaurant-tab/tab-restaurant-kitchen-slider2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider2-1x.jpg 1x,
                ./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider2-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/restaurant-page/restaurant-mob/mob-restaurant-kitchen-slider2-1x.jpg"
              alt="Кухня ресторану, картинка 2"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
        <div class="slider-mini__slide swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-1x.jpg 1x,
                ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/slider-main-mod/slider-mod-tab/tab-slider-mod8-1x.jpg 1x,
                ./images/slider-main-mod/slider-mod-tab/tab-slider-mod8-2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-1x.jpg 1x,
                ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-1x.jpg"
              alt="Кухня ресторану, картинка 3"
              width=""
              height=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <!--Swiper buttons slider-mini about kitchen-->
      <div class="slider-nav slider-mini-nav">
        <div class="swiper-button-prev-mini slider-nav__btn-prev">
          <svg class="slider-nav--black" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-arrow-left_32_32"></use>
          </svg>
        </div>
        <div class="swiper-button-next-mini slider-nav__btn-next">
          <svg class="slider-nav--black" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-arrow-right_32_32"></use>
          </svg>
        </div>
      </div>
    </div>

    <!--End slider-->
  </div>
</section>
