<section class="about-kitchen page-decor">
  <div class="about-kitchen__container container">
    <p class="about-kitchen__subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Опис ресторану</h2>
    <p class="about-kitchen__name brand-name">Mimiho</p>
    <p class="about-kitchen__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-desktop1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-desktop1-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-tab1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-tab1-2x.jpg 2x
        "
        media="(min-width:1024px)"
      />
      <source
        srcset="
          /src/images/restaurant-page/about-kitchen/about-kitchen-mob1.jpg    1x,
          /src/images/restaurant-page/about-kitchen/about-kitchen-mob1-2x.jpg 2x
        "
        media="(min-width:414px)"
      />
      <img
        class="about-restaurant__img"
        src="/src/images/restaurant-page/about-kitchen/about-kitchen-desktop1.jpg"
        alt="Кухар"
      />
    </picture>
    <div class="about-kitchen__box">
      <picture data-aos="fade-right">
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-desktop2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-desktop2-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-tab2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-tab2-2x.jpg 2x
          "
          media="(min-width:1024px)"
        />
        <source
          srcset="
            /src/images/restaurant-page/about-kitchen/about-kitchen-mob2.jpg    1x,
            /src/images/restaurant-page/about-kitchen/about-kitchen-mob2-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />       
        <img
          class="about-kitchen__picture"
          src="/src/images/restaurant-page/about-kitchen/about-kitchen-desktop2.jpg "
          alt="М'ясо"
        />
      </picture>
      <p class="about-kitchen__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>

