<section>
    <h1>МЕНЮ РЕСТОРАНУ</h1>

    <div class="menu-flex">
        <div>
            <h2>Гарячі страви</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Борщ з телятини з квасолею</p>
                            <p class="menu-description">Телятина, картопля, капуста, морква, цибуля, квасоля,
                                часник,
                                помідори, зелень, сметана</p>
                        </td>
                        <td class="menu-numbers">400 г
                            <span class="menu-price">240 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Суп сирний з куркою</p>
                            <p class="menu-description">Курятина, картопля, морква, цибуля, печериці, сир м’який,
                                зелень</p>
                        </td>
                        <td class="menu-numbers">400 г
                            <span class="menu-price">200 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Паста карбонара</p>
                            <p class="menu-description">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                            </p>
                        </td>
                        <td class="menu-numbers">350 г
                            <span class="menu-price">430 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Стейк зі свинини</p>
                            <p class="menu-description">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                                овочами
                            </p>
                        </td>
                        <td class="menu-numbers">400 г
                            <span class="menu-price">500 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Горбуша в соусі з білого вина</p>
                            <p class="menu-description">Ніжна горбуша, вершковий соус на основі білого вина
                            </p>
                        </td>
                        <td class="menu-numbers">400 г
                            <span class="menu-price">400 грн</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Гарніри та закуски</h2>

            <table>
                <tbody>
                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Запечені овочі</p>
                            <p class="menu-description">Кабачок, перець, помідор, баклажан</p>
                        </td>
                        <td class="menu-numbers">200 г
                            <span class="menu-price">230 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Картопля фрі</p>
                            <p class="menu-description">Картопля, соус томатний</p>
                        </td>
                        <td class="menu-numbers">150 г
                            <span class="menu-price">160 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Картопля по-селянськи</p>
                            <p class="menu-description">Картопля, спеції, соус пікантний</p>
                        </td>
                        <td class="menu-numbers">150 г
                            <span class="menu-price">160 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Хрумкі соління з бочки</p>
                            <p class="menu-description">Огірок солений, помідор квашений, квашена капуста, морква
                                по-корейські</p>
                        </td>
                        <td class="menu-numbers">250 г
                            <span class="menu-price">350 грн</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="menu-data">
                            <p class="menu-dish">Крильця курячі в медовому соусі</p>
                            <p class="menu-description">Крильця курячі, гірчично-медовий соус, подається з морквою,
                                селерою
                                і соусом блючиз</p>
                        </td>
                        <td class="menu-numbers">400 г
                            <span class="menu-price">420 грн</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <h2>Салати</h2>

    <table>
        <tbody>
            <tr>
                <td class="menu-data">
                    <p class="menu-dish">Цезар з куркою</p>
                    <p class="menu-description">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
                        цезар</p>
                </td>
                <td class="menu-numbers">230 г
                    <span class="menu-price">450 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data">
                    <p class="menu-dish">Цезар з креветками</p>
                    <p class="menu-description">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
                        соус цезар</p>
                </td>
                <td class="menu-numbers">230 г
                    <span class="menu-price">300 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data">
                    <p class="menu-dish">Грецький салат</p>
                    <p class="menu-description">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
                        салату, соус</p>
                </td>
                <td class="menu-numbers">230 г
                    <span class="menu-price">280 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data">
                    <p class="menu-dish">М’ясний салат</p>
                    <p class="menu-description">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
                        перець, соус ранч</p>
                </td>
                <td class="menu-numbers">230 г
                    <span class="menu-price">300 грн</span>
                </td>
            </tr>

        </tbody>
    </table>

    <h2>Десерти</h2>

    <table>
        <tbody>
            <tr>
                <td class="menu-data">
                    <p class="menu-dessert">Торт наполеон</p>
                </td>
                <td class=" menu-numbers">230 г
                    <span class="menu-price">300 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data ">
                    <p class="menu-dessert">Торт маковий</p>
                </td>
                <td class="menu-numbers">230 г
                    <span class="menu-price">300 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data">
                    <p class="menu-dessert">Тірамісу</p>
                </td>
                <td class="menu-numbers">120 г
                    <span class="menu-price">260 грн</span>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Напої</h2>

    <table>
        <tbody>
            <tr>
                <td class="menu-data-drink">
                    <p class="menu-dessert">Чай чорний/зелений</p>
                </td>
                <td class="menu-numbers">500 мл
                    <span class="menu-price">100 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data-drink">
                    <p class="menu-dessert ">Еспресо</p>
                </td>
                <td class="menu-numbers"><span class="menu-span-align">30 мл</span>
                    <span class="menu-price"> 100 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data-drink">
                    <p class="menu-dessert ">Американо</p>
                </td>
                <td class="menu-numbers">150 мл
                    <span class="menu-price">100 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data-drink">
                    <p class="menu-dessert ">Капучино</p>
                </td>
                <td class="menu-numbers">200 мл
                    <span class="menu-price">160 грн</span>
                </td>
            </tr>

            <tr>
                <td class="menu-data-drink">
                    <p class="menu-dessert ">Лате</p>
                </td>
                <td class="menu-numbers">200 мл
                    <span class="menu-price">160 грн</span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>

    <div class="menu-button">
        <button>Забронювати столик</button>
    </div>



</section>