<section class="about-restaurant page-decor">
  <div class="about-restaurant__container container">
    <p class="about-restaurant__subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Опис ресторану</h2>
    <p class="about-restaurant__name brand-name">Mimiho</p>
    <p class="about-restaurant__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/homepage/about-restaurant/restaurant-interior-desktop.jpg    1x,
          /src/images/homepage/about-restaurant/restaurant-interior-desktop-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /src/images/homepage/about-restaurant/restaurant-interior-tab.jpg    1x,
          /src/images/homepage/about-restaurant/restaurant-interior-tab-2x.jpg 2x
        "
        media="(min-width:1024px)"
      />
      <source
        srcset="
          /src/images/homepage/about-restaurant/restaurant-interior-mob.jpg    1x,
          /src/images/homepage/about-restaurant/restaurant-interior-mob-2x.jpg 2x
        "
        media="(min-width:414px)"
      />
      
      <img
        class="about-restaurant__img"
        src="/src/images/homepage/about-restaurant/restaurant-interior-desktop.jpg"
        alt="Ітерьер"
      />
    </picture>
    <div class="about-restaurant__box" >
      <picture data-aos="fade-right">
        <source
          srcset="
            /src/images/homepage/about-restaurant/restaurant-interior2-desktop.jpg    1x,
            /src/images/homepage/about-restaurant/restaurant-interior2-desktop-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/restaurant-interior2-tab.jpg    1x,
            /src/images/homepage/about-restaurant/restaurant-interior2-tab-2x.jpg 2x
          "
          media="(min-width:1024px)"
        />
        <source
          srcset="
            /src/images/homepage/about-restaurant/restaurant-interior2-mob.jpg    1x,
            /src/images/homepage/about-restaurant/restaurant-interior2-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        
        
        <img
          class="about-restaurant__picture"
          src="/src/images/homepage/about-restaurant/restaurant-interior2-desktop.jpg "
          alt="Обідня зала"
        />
      </picture>
      <p class="about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="rest-slider-container">
      <!--Container slider about-restaurant 245x245 ltr black arrows-->
      <div class="rest-slider swiper">
        <!--Wrapper  slider-->
        <div class="rest-slider__wrapper swiper-wrapper">
          <!--Slides slider about-restaurant-->
          <div class="rest-slider__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod15-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod15-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod15-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod15-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod15-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod15-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod15-1x.jpg"
                alt="Ресторан, картинка 1"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
          <div class="rest-slider__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod8-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod8-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod8-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod8-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod8-1x.jpg"
                alt="Ресторан, картинка 2"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
          <div class="rest-slider__slide swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod7-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-desk/desk-slider-mod7-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod7-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-tab/tab-slider-mod7-2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod7-1x.jpg 1x,
                  ./images/slider-main-mod/slider-mod-mob/mob-slider-mod7-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod7-1x.jpg"
                alt="Ресторан, картинка 3"
                width=""
                height=""
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <!--Swiper buttons slider rest-slider-->

      <div class="slider-nav restaurant">
        <div id="button-prev-rest" class="swiper-button-prev slider-nav__btn-prev">
          <svg class="slider-nav--black" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-arrow-left_32_32"></use>
          </svg>
        </div>
        <div id="button-next-rest" class="swiper-button-next slider-nav__btn-next">
          <svg class="slider-nav--black" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-arrow-right_32_32"></use>
          </svg>
        </div>
      </div>
    </div>
    <!--End slider-->
  </div>
</section>
