<section class="about-hotel">
  <div class="about-hotel__container container">
    <p class="about-hotel__subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Опис ресторану</h2>
    <p class="brand-name about-hotel__name">Mimiho</p>
    <p class="about-hotel__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-desktop.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-tab.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-mob.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-mob-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />    
      <img
        class="about-hotel__img"
        src="/src/images/homepage/about-hotel/hotel-interior-desktop.jpg"
        alt="Ліжко"
      />
    </picture>
    <div class="about-hotel__box">
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture data-aos="fade-left">
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-desktop.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-desktop-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-tab.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-mob.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />      
        <img
          class="about-hotel__picture"
          src="/src/images/homepage/about-hotel/hotel-interior2-desktop.jpg"
          alt="Лоббі готелю"
        />
      </picture>
    </div>
  </div>
</section>
