<section class="about-hotel page-decor">
  <div class="about-hotel__container container">
    <p class="about-hotel__subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Опис ресторану</h2>
    <p class="brand-name about-hotel__name">Mimiho</p>
    <p class="about-hotel__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-desktop.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-tab.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/homepage/about-hotel/hotel-interior-mob.jpg    1x,
          /src/images/homepage/about-hotel/hotel-interior-mob-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />    
      <img
        class="about-hotel__img"
        src="/src/images/homepage/about-hotel/hotel-interior-desktop.jpg"
        alt="Ліжко"
      />
    </picture>
    <div class="about-hotel__box">
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture data-aos="fade-left">
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-desktop.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-desktop-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-tab.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/homepage/about-hotel/hotel-interior2-mob.jpg    1x,
            /src/images/homepage/about-hotel/hotel-interior2-mob-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />      
        <img
          class="about-hotel__picture"
          src="/src/images/homepage/about-hotel/hotel-interior2-desktop.jpg"
          alt="Лоббі готелю"
        />
      </picture>
    </div>
    <div class="hotel-slider-container">
      <!--Container slider about-hotel 245x245 rtL black arrows-->
      <div dir="rtl" class="hotel-slider swiper">
        <!--Wrapper  slider-->
        <div class="hotel-slider__wrapper swiper-wrapper">
            <!--Slides slider about-restaurant-->
            <div class="hotel-slider__slide swiper-slide">
                <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod14-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod14-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 1024px)"
                      srcset="./images/slider-main-mod/slider-mod-tab/tab-slider-mod14-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-tab/tab-slider-mod14-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(max-width: 1023px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod14-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod14-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <img
                      src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod14-1x.jpg"
                      alt="Готель, картинка 1"
                      width=""
                      height=""
                      loading="lazy"
                    />
                </picture>
            </div>
            <div class="hotel-slider__slide swiper-slide">
                <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod10-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod10-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 1024px)"
                      srcset="./images/slider-main-mod/slider-mod-tab/tab-slider-mod10-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-tab/tab-slider-mod10-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(max-width: 1023px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod10-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod10-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <img
                      src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod10-1x.jpg"
                      alt="Готель, картинка 2"
                      width=""
                      height=""
                      loading="lazy"
                    />
                </picture>
            </div>
            <div class="hotel-slider__slide swiper-slide">
                <picture>
                    <source
                      media="(min-width: 1280px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod11-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod11-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(min-width: 1024px)"
                      srcset="./images/slider-main-mod/slider-mod-tab/tab-slider-mod11-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-tab/tab-slider-mod11-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <source
                      media="(max-width: 1023px)"
                      srcset="./images/slider-main-mod/slider-mod-mob/mob-slider-mod11-1x.jpg 1x,
                      ./images/slider-main-mod/slider-mod-mob/mob-slider-mod11-2x.jpg 2x
                      "
                      type="image/jpg"
                    />
                    <img
                      src="./images/slider-main-mod/slider-mod-mob/mob-slider-mod11-1x.jpg"
                      alt="Готель, картинка 3"
                      width=""
                      height=""
                      loading="lazy"
                    />
                </picture>
            </div>
        </div>
      </div>
      <!--Swiper buttons hotel-slider-->
      <div class="slider-nav about-hotel-nav">
        <div id="button-prev-hotel" class="swiper-button-prev slider-nav__btn-prev">
            <svg class="slider-nav--black" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-arrow-left_32_32"></use>
            </svg>
        </div>
        <div id="button-next-hotel" class="swiper-button-next slider-nav__btn-next">
            <svg class="slider-nav--black" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-arrow-right_32_32"></use>
            </svg>
        </div>
      </div>
    </div>
    <!--End slider-->
  </div>
</section>
