<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__box">
      <h2 class="visually-hidden">Наші контакти</h2>
      <p class="contacts__logo">MIMIHO</p>
      <h3 class="contacts__title">Ресторанно-готельний комплекс</h3>
      <address class="contacts__address">
        <ul class="contacts__list list">
          <li class="contacts__item">
            <p class="contacts__text">Ресторан</p>
            <div class="contacts__wrap">
              <a class="contacts__link link" href="tel:+380955559533">
                <svg class="contacts__icon">
                  <use href="./images/icons/icons.svg#icon-phone_12_20"></use>
                </svg>
                <span class="contacts__phone">095 555 95 33</span></a
              >
            </div>
          </li>
          <li class="contacts__item">
            <p class="contacts__text">Готель</p>
            <div class="contacts__wrap">
              <a class="contacts__link link" href="tel:+380668491089">
                <svg class="contacts__icon">
                  <use href="./images/icons/icons.svg#icon-phone_12_20"></use>
                </svg>
                <span class="contacts__phone">066 849 10 89</span></a
              >
              <a class="contacts__link--second link" href="tel:+380672758540"
                ><span class="contacts__phone">067 275 85 40</span></a
              >
            </div>
          </li>
          <li class="contacts__item">
            <div class="address__wrap">
              <a
                class="address__link link"
                href="https://goo.gl/maps/xSBZmbjYANcDaMKi7"
                target="_blank"
                rel="nofollow noopener norefferer"
                ><svg class="address__icon">
                  <use
                    href="./images/icons/icons.svg#icon-location_24_24"
                  ></use>
                </svg>
                <span class="address__text">
                  Україна, м. Полтава,
                  <br />вул. Маршала Бірюзова, 15
                </span></a
              >
            </div>
          </li>
        </ul>
      </address>
    </div>
    <a
      class="address__link link"
      href="https://goo.gl/maps/xSBZmbjYANcDaMKi7"
      target="_blank"
      rel="nofollow noopener norefferer"
      ><picture class="picture-box">
        <source
          srcset="
            ./images/homepage/homepage-desk/desk-main-map-1x.jpg 1x,
            ./images/homepage/homepage-desk/desk-main-map-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/homepage-tab/tab-main-map-1x.jpg 1x,
            ./images/homepage/homepage-tab/tab-main-map-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/homepage-mob/mob-main-map-1x.jpg 1x,
            ./images/homepage/homepage-mob/mob-main-map-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          src="./images/homepage/homepage-mob/mob-main-map-1x.jpg"
          alt="Карта ресторанно-готельного комплексу"
          width="634"
        />
      </picture>
    </a>
  </div>
</section>
