<section class="contacts">
  <div class="container contacts__container">
      <h2 class="visually-hidden">Наші контакти</h2>
      <a class="contacts__logo link" href="./index.html">MIMIHO</a>
      <h3 class="contacts__title">Ресторанно-готельний комплекс</h3>
      <address class="contacts__address">
        <ul class="contacts__link link">
          <li class="contacts__item">
            <p class="contacts__text">Ресторан</p>
            <div class="contacts__wrap">
              <a class="contacts__link link" href="tel:+380955559533">
                <svg class="contacts__icon">
                  <use href="./images/icons/icons.svg#icon-phone_12_20"></use></svg
                ><span class="contacts__phone">095 555 95 33</span></a
              >
            </div>
          </li>
          <li class="contacts__item">
            <p class="contacts__text">Готель</p>
            <div class="contacts__wrap">
              <a class="contacts__link link" href="tel:+380668491089">
                <svg class="contacts__icon">
                  <use href="./images/icons/icons.svg#icon-phone_12_20"></use></svg
                ><span class="contacts__phone">066 849 10 89</span></a
              >
              <a class="contacts__link link" href="tel:+380672758540"
                ><span class="contacts__phone">067 275 85 40</span></a
              >
            </div>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__item__link link"
              href="https://goo.gl/maps/xSBZmbjYANcDaMKi7"
              >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
            >
          </li>
        </ul>
      </address>
  </div>
</section>
