<section class="details-restaurant-hotel page-decor page-decor--dark">
  <div class="overlay-hotel">
    <div class="container container__details">
      <!-- Text -->

      <div class="details-restaurant__text--hotel">
        <h2 class="details-restaurant__header" lang="en">mimiho</h2>
        <h3 class="details-restaurant__subtitle">Готель</h3>
        <p class="details-restaurant__description description-hotel" lang="en">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <!-- Slider -->

      <div class="slider-hotel"></div>

      <!-- Buttons -->

      <div class="for-slider-hotel">
        <div class="details-restaurant__buttons--hotel">
          <buttton
            data-modal="room"
            type="button"
            class="details-restaurant__booking js-open-modal"
            >Забронювати номер</buttton
          >
          <buttton type="button" class="details-restaurant__demonstration"
            ><a href="./hotel-page.html" class="details-restaurant__href"
              >Переглянути ціни</a
            ></buttton
          >
        </div>
      </div>
    </div>
  </div>
</section>

