<section class="details-restaurant">
  <div class="container">
    <!-- Text -->

    <h2 class="details-restaurant__header" lang="en">mimino</h2>
    <h3 class="details-restaurant__subtitle">Ресторан</h3>
    <p class="details-restaurant__description" lang="en">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <!-- <picture
      ><source srcset="" />
      <img src="" alt="подача стейку" width=""
    /></picture>
    <picture
      ><source srcset="" />
      <img src="" alt="подача шашлику" width=""
    /></picture>
    <picture
      ><source srcset="" />
      <img src="" alt="подача страви" width=""
    /></picture> -->

    <!-- Buttons -->

    <buttton type="button" class="details-restaurant__booking"
      >Забронювати столик</buttton
    >
    <buttton type="button" class="details-restaurant__demonstration"
      >Переглянути меню</buttton
    >
  </div>
</section>
