<section class="details-restaurant">
  <div class="overlay">
    <div class="container">
      <!-- Text -->

    <div class="details-restaurant__text">
      <h2 class="details-restaurant__header" lang="en">mimino</h2>
      <h3 class="details-restaurant__subtitle">Ресторан</h3>
      <p class="details-restaurant__description" lang="en">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="flex-wrap-restaurant">
      <!--Container dishes-slider 270x270 ltr white arrows-->
      <div class="dishes-slider-container">
        <div class="dishes-slider swiper">
          <!--Wrapper  slider-->
          <div class="dishes-slider__wrapper swiper-wrapper">
            <!--Slides slider about-restaurant-->
            <div class="dishes-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider1-1x.jpg 1x,
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider1-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider1-1x.jpg 1x,
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider1-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider1-1x.jpg 1x,
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider1-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/homepage/homepage-mob/mob-main-restaurant-details-slider1-1x.jpg"
                  alt="Ресторанне блюдо, картинка 1"
                  width=""
                  height=""
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="dishes-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider2-1x.jpg 1x,
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider2-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider2-1x.jpg 1x,
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider2-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-1x.jpg 1x,
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-1x.jpg"
                  alt="Ресторанне блюдо, картинка 2"
                  width=""
                  height=""
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="dishes-slider__slide swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider3-1x.jpg 1x,
                  ./images/homepage/homepage-desk/desk-main-restaurant-details-slider3-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider3-1x.jpg 1x,
                  ./images/homepage/homepage-tab/tab-main-restaurant-details-slider3-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-1x.jpg 1x,
                  ./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-2x.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/homepage/homepage-mob/mob-main-restaurant-details-slider2-1x.jpg"
                  alt="Ресторанне блюдо, картинка 3"
                  width=""
                  height=""
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </div>
        <!--Swiper buttons slider hero room-->
        <div class="dishes-slider-nav">
          <div id="button-prev-dishes" class="swiper-button-prev slider-nav__btn-prev">
            <svg class="slider-nav--white" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-arrow-left_32_32"></use>
            </svg>
          </div>
          <div id="button-next-dishes"  class="swiper-button-next slider-nav__btn-next">
            <svg class="slider-nav--white" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-arrow-right_32_32"></use>
            </svg>
          </div>
        </div>
      </div>
      <!--End slider-->
      <!-- Buttons -->
      <div class="details-restaurant__buttons">
        <button
          data-modal-open
          type="button"
          class="details-restaurant__booking"
          >Забронювати столик</button
        >
        <button type="button" class="details-restaurant__demonstration"
          ><a href="" class="details-restaurant__href"
            >Переглянути меню</a
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->

<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close class="modal__button">
      <svg class="icon-close">
        <use href="./images/icons/icons.svg#icon-arrow-down_24_24"></use>
      </svg>
    </button>
    <form class="form">
      <p class="main-header">забронювати столик</p>
      <div class="gap">
        <div class="form__field">
          <label class="form__label" for="user-name"
            >На кого забронювати столик?</label
          ><input
            type="text"
            name="name"
            id="user-name"
            placeholder="Ваше ім’я"
            required
          />
        </div>
        <div class="form__field ordered">
          <label class="form__label" for="user-name">Номер телефону</label
          ><input
            type="text"
            name="name"
            id="user-name"
            placeholder="+38 (___) ___-__-__"
            required
          />
        </div>
        <div class="form__field">
          <label class="form__label" for="user-name"
            >Столик на яку кількість осіб?</label
          ><input
            type="text"
            name="name"
            id="user-name"
            placeholder="2"
            required
          />
          <button class="arrow-down-button">
            <svg class="icon-arrow-down">
              <use href="./images/icons/icons.svg#icon-arrow-down_24_24"></use>
            </svg>
          </button>
        </div>
        <div class="form__field ordered">
          <label class="form__label" for="user-name"
            >На яку дату бронювати?</label
          ><input
            type="text"
            name="name"
            id="user-name"
            placeholder="Сьогодні"
            required
          />

          <button class="arrow-down-button">
            <svg class="icon-arrow-down">
              <use href="./images/icons/icons.svg#icon-arrow-down_24_24"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="confirm-container">
        <button type="" class="confirm-button">оформити бронювання</button>
      </div>
    </form>
  </div>
</div>

<!-- 1. Кнопка закрытия модалки (крестик) -->
<!-- сделать секцию -->
<!-- запушить -->
<!-- кубик и переменные, фото для каждого размера -->
<!-- Сделать слайдеры -->
