<section class="details-hotel">
  <div class="container">
    <!-- Text -->

    <h2 class="details-hotel__header" lang="en">mimino</h2>
    <h3 class="details-hotel__subtitle">Готель</h3>
    <p class="details-hotel__description" lang="en">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <!-- Slider -->

    <picture
      ><source srcset="" />
      <img src="" alt="номер з ліжком" width=""
    /></picture>
    <picture
      ><source srcset="" />
      <img src="" alt="подача сніданку" width=""
    /></picture>
    <picture
      ><source srcset="" />
      <img src="" alt="ресепшн" width=""
    /></picture>

    <!-- Buttons -->

    <buttton type="button" class="details-hotel__booking"
      >Забронювати номер</buttton
    >
    <buttton type="button" class="details-hotel__demonstration"
      >Переглянути ціни</buttton
    >
  </div>
</section>
