<section class="hero">
  <div class="hero__container container">
    <div class="hero__address">
      <p class="hero__address-text">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </p>
    </div>

    <div class="hero__wrap">
      <h1 class="hero__title">MIMIHO</h1>
      <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
      <h3 class="hero__slogan">СМАК ЖИТТЯ 24/7</h3>
    </div>

    <div>
      <div class="details-restaurant__buttons hero__buttons">
        <button
          data-modal="table"
          type="button"
          class="details-restaurant__booking js-open-modal"
        >
          Забронювати столик
        </button>
        <button
          data-modal="room"
          type="button"
          class="details-restaurant__demonstration hero__buttons js-open-modal"
        >
          Забронювати номер
        </button>
      </div>
    </div>

    <div class="hero__network">
      <ul class="hero__network-list list">
        <li class="hero__network-item">
          <a class="hero__network-link link" href="">
            <svg class="hero__network-icon">
              <use href="./images/icons/icons.svg#icon-insta_24_24"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-tem">
          <a class="hero__network-link link" href="">
            <svg class="hero__network-icon">
              <use href="./images/icons/icons.svg#icon-facebook_24_24"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-item">
          <a class="hero__network-link link" href="">
            <svg class="hero__network-icon">
              <use href="./images/icons/icons.svg#icon-telegram_24_24"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
