<section class="hero">
  <div class="wrap-overlay wrap-overlay__homepage">
    <div class="container hero__container">
      <div class="hero__address" data-aos="zoom-in">
        <a
          class="hero__address-link"
          href="https://goo.gl/maps/eM5xNSBNSVPrCtYY8"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero__address-icon" width="24" height="24">
            <use href="./images/icons/icons.svg#icon-location_24_24"></use>
          </svg>
          <span class="hero__address-text"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</span
          >
        </a>
      </div>

      <div class="hero__wrap">
        <h1 class="hero__title">mimino</h1>
        <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
        <h3 class="hero__slogan">Смак життя 24/7</h3>
      </div>

      <div class="hero__buttons">
        <button
          data-modal="table"
          data-aos="zoom-in"
          type="button"
          class="btn btn--basic hero__buttons-btn js-open-modal"
        >
          Забронювати столик
        </button>
        <button
          type="button"
          class="btn btn--basic hero__buttons-btn js-open-modal"
          data-modal="room"
          data-aos="zoom-in"
        >
          Забронювати номер
        </button>
      </div>

      <div class="hero__network">
        <ul class="hero__network-list list">
          <li class="hero__network-item">
            <a
              class="hero__network-link link"
              href="https://www.instagram.com/"
            >
              <svg class="hero__network-icon" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-insta_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="hero__network-tem">
            <a
              class="hero__network-link link"
              href="https://uk-ua.facebook.com/"
            >
              <svg class="hero__network-icon" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-facebook_24_24"></use>
              </svg>
            </a>
          </li>
          <li class="hero__network-item">
            <a
              class="hero__network-link link"
              href="https://web.telegram.org/z/"
            >
              <svg class="hero__network-icon" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-telegram_24_24"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
